* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
  
  
}
.container{
  padding: 55px;
  background-image:url(./assets/pexels-maxyne-barcel-10402282\ 1.png);
  background-color: darkslategray;
  background-blend-mode: overlay;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */

nav {
  display: flex;
  justify-content: space-between;
}
.list {
  display: flex;
}
.list-item {
  display: flex;
  color: rgb(183, 183, 8);
  margin-right: 55px;
  font-size: 21px;
}

/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */
.button-small {
  background-color:rgb(174, 35, 35);
  font-size: 28px;
  width: 145px;
  height: 54px;
  color: white;
  margin-top: -12px;
  border-radius: 4px;
  margin-right: 48px;
}
.hero-heading {
  font-size: 100px;
  margin-top: 60px;
  margin-left: 195px;
  font-weight: bold;
  color:rgb(183, 183, 8);
}
.button-large {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color:rgb(174, 35, 35);
  font-size: 28px;
  width: 245px;
  color: white;
  
  height: 74px;
  margin-top: 35px;
}